.ProductsTable table {
    width: 100%;
}

.ProductsTable th {
    background-color: #283cae;
    color: #fff;
}

.ProductsTable .Even {
    background-color: #ddd;
}

.ProductsTable .Odd {
    background-color: #ccc;
}